<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="/css/jquery.jOrgChart.css"/>

  <link href="https://fonts.googleapis.com/css?family=Frijole|Oxygen" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Tree</title>
</head>
<body>

<div class="webpage">
  <header class="banner">
    <h1 style="display: inline-block;"><span class="logo">Tree</span><span class="slogan">... roots run deep.</span></h1>
   <div class="communication" style="display: inline-block; float:right; margin-right:60px; height: 40px;">
       <img class="videoIcon" src="https://lh3.googleusercontent.com/aYbdIM1abwyVSUZLDKoE0CDZGRhlkpsaPOg9tNnBktUQYsXflwknnOn2Ge1Yr7rImGk=w300" alt="video">
       <img class="mailIcon" src="https://www.facebook.com/images/fb_icon_325x325.png" alt="calender">
       <img class="videoIcon" src="https://abs.twimg.com/icons/apple-touch-icon-192x192.png" alt="video">

  </div>
   </div>
  </header>
  <div class="main-content">
    <div class="filter">
      <ul class="nav-list">
        <li><h3>Immediate Family</h3></li>
        <li><h3>Extended Family</h3></li>
        <li><h3>Show All</h3></li>
        <li><div class="communication" style="display: inline-block; float:right; margin-right:60px; height: 40px;">
         <img class="videoIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/16186-200.png" alt="video">
         <img class="mailIcon" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Mail-icon.png" alt="mail">
         <img class="calenderIcon" src="http://simpleicon.com/wp-content/uploads/Calendar-4.png" alt="calender">
        </div>
        </li>
      </ul>
   </div>
  <section class="tree">
    {{{body}}}
  </section>
  </div>
     <div class="sidebar">
      <h2>Family Feed</h2>
      <div class="input_field">
        <input type= "text" class= "input_message" value = "Looking forward to Robb's wedding!"></center>
      </div>
      <div class= "submit field">
      <center><input type="submit" class= "input_button" value = "submit"></center>
    </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.jOrgChart.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>