<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="profile.css">
  <link rel="stylesheet" href="/css/jquery.jOrgChart.css"/>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Frijole|Oxygen" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Tree</title>
</head>
<body>

<div class="webpage">
  <header class="banner">
    <h1 style="display: inline-block;"><span class="logo">Tree</span><span class="slogan">... roots run deep.</span></h1>
    <div class="communication" style="display: inline-block; float:right; margin-right:60px; height: 40px;">
       <img class="videoIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/16186-200.png" alt="video">
       <img class="mailIcon" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Mail-icon.png" alt="mail">
       <img class="calenderIcon" src="http://simpleicon.com/wp-content/uploads/Calendar-4.png" alt="calender">

   </div>
  </header>
  <div class="main-content">
    <div class="filter">
    <ul class="nav-list">
      <li><h3>IMMEDIATE</h3></li>
        <li><h3>EXPANDED</h3></li>
      <li><h3>EXTENDED</h3></li>
    </ul>

   </div>
  <section class="tree">
    {{{body}}}
  </section>


  </div>
     <div class="sidebar">
      <h2>Family Feed</h2>
    </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.jOrgChart.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>