body {
  font-family: 'Oxygen', serif;
  font-size: 18px;
  background-color: #005A31;
  color: #A8CD1B;
}

.webpage{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #A8CD1B;
  height: 100px;
}

.banner {
  font-family: 'Frijole', cursive;
  padding-left: 50px;
  padding-bottom: 20px;
/*  margin-top: 12px;*/
}

.logo {
/*  margin-bottom: 45px;*/
  font-family: 'Frijole', cursive;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 72px;
  vertical-align: middle;
  color: #005A31;
}

.slogan{
  position: relative;
  margin-left: 100px;
  font-family: 'Lustria', serif;
  font-size: 30px;
  padding-bottom: 25px;
  vertical-align: middle;
  color: #005A31;

}

.filter{
  border: 1px solid black;
}

.tree{
/*  border: 1px solid black;*/
  heigth: 1000px;
  overflow: scroll;
  padding-top: 20px;
}

.jOrgChart{
    height: 900px;
  }

/*.tree > img {
  width: 40%;
  height: 900px;
}*/

.nav-list > li{
  list-style-type: none;
  display: inline-block;
  margin-right: 90px;
}

h3 {
   margin: 0;
}

.communication > li{
  border: 1px solid black;
   list-style-type: none;
  display: inline-block;
  margin-right: 60px;
}

.main-content {
  position: relative;
  float: left;
  width: 60%;
/*  display: inline-block;*/
  border: 5px solid black;
  height: 1000px;
  margin-left: 40px;
  width: 69%;
  background-color: #F3FAB6;
}

.sidebar {
  position: relative;
  float: right;
/*  display: inline-block;*/
  width: 25%;
  border-top: 5px solid black;
  border-right: 5px solid black;
  height: 1000px;
/*  right: -895px;*/
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  background-color: #F3FAB6;
}

h1 {
  margin: 0;
  display: inline-block;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  position: relative;
  text-align: center;
  color: #AB9353;
}

h3 {
  color: #AB9353;
}

.person-outer .self {
  background-color: #005A31 !important;
}

.communication{
  padding-top: 25px;
}

.videoIcon, .calenderIcon, .mailIcon {
  color: #005A31;
}


img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
}


table {
  width: 100%;
}

tbody {
  height: 100%;
}

.node .person {
  width: 500px;
}

.node-container {
  height: 10%;
}

.person-outer {
  margin: auto;
  min-width: 175px
  width: 200px;
  /*height: 180px;*/
  background-color: #AB9353;;
  border: solid black 3px;
}

.person-img {
  display: inline-block;
  width: 200px;
  height: 100%;
}

.person-top{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #AB9353;;
}

.person-middle{
  display: inline-block !important;
  background-color: #AB9353;;
}

.person-left{
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #AB9353;;
}

.person-right{
  display: inline-block;
  background-color: #AB9353;;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.person-bottom{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #AB9353;;
}

.personName{
  font-size: 24px;
  color: white;
}

.relationship{
  font-size: 18px;
  color: black;
}

.button-top, .button-bottom, .button-left, .button-right {
  width: 5px;
  height: 5px;
}
